pandas==1.5.3
numpy
scipy
statsmodels
tqdm
matplotlib
plotly
seaborn
nbformat
ipykernel
black
requests
ta
# pip install git+https://github.com/BaptisteZloch/Quant-Invest-Lab.git
quant-invest-lab>=0.2.11
latex
sdeint
tensorflow
keras
scikit-learn
openpyxl